<!DOCTYPE html>
<html ng-app="appModuleAngular">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calculator</title>
  <link rel="stylesheet" href="./style/style.css">
  <script src="./lib/angular.min.js"></script>
  <script src="./moduleAngular.js"></script>
  <script src="./lib/angular-local-storage.js"></script>
  <script src="./controller/calculator.js"></script>
  <script src="./directives/backImage.js"></script>
  <script src="./factory/dataTransfer.js"></script>
  <script src="./filter/percentFilter.js"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li class="float-left"> <a href="index.html">FFBE DAMAGE COMPARATION</a> </li>
        <li class="float-right"> <a href="about.html">About</a> </li>
        <li class="float-right"> <a href="users.html">Users</a> </li>
      </ul>
    </nav>
  </header>
  <div ng-controller="Calculator">
    <form id="form" action="">
      <div id="units">
        <div class="section ng-class:unit1.class" id="UNIT_A">
          <h3>UNIT A</h3>
          <p class="inputNumber">
            <label for="ATK1">ATK/MAG</label>
            <input id="ATK1" type="number" ng-model="unit1.atk" ng-change="getResults()">
          </p>
          <p class="inputNumber">
            <label for="BONUS1">BONUS %</label>
            <input id="BONUS1" type="number" ng-model="unit1.bonus" ng-change="getResults()">
          </p>
          <h4>WEAPON ELEMENT(S)</h4>
          <div class="element" ng-repeat="e in elements">
            <input type="checkbox" ng-change="getResults()" ng-model='unit1.elements[$index]' id='{{"ELE1_"+($index+1)}}'
              class='{{"E"+($index+1)}}' />
            <label for='{{"ELE1_"+($index+1)}}'>
              <span class='{{"icon icon-"+($index+1)}}'></span>
            </label>
          </div>

          <h2>TOTAL:</h2>
          <span id="TOTAL1">{{unit1.total | number}}</span>
          <h2>DIFFERENCE: </h2>
          <span>{{unit1.diff | percent:0}}</span>
        </div>

        <div class="section ng-class:unit2.class" id="UNIT_B">
          <h3>UNIT B</h3>
          <p class="inputNumber">
            <label for="ATK2">ATK/MAG</label>
            <input id="ATK2" ng-model="unit2.atk" ng-change="getResults()" type="number">
          </p>
          <p class="inputNumber">
            <label for="BONUS2">BONUS %</label>
            <input id="BONUS2" type="number" ng-model="unit2.bonus" ng-change="getResults()" value="0">
          </p>
          <h4>WEAPON ELEMENT(S)</h4>
          <div class="element" ng-repeat="e in elements">
            <input type="checkbox" ng-change="getResults()" ng-model='unit2.elements[$index]' id='{{"ELE2_"+($index+1)}}'
              class='{{"E"+($index+1)}}' />
            <label for='{{"ELE2_"+($index+1)}}'>
              <span class='{{"icon icon-"+($index+1)}}'></span>
            </label>
          </div>
          <h2>TOTAL: </h2>
          <span id="TOTAL2">{{unit2.total | number}}</span>
          <h2>DIFFERENCE: </h2>
          <span>{{unit2.diff | percent:0}}</span>
        </div>
      </div>

      <div class="enemy">
        <div class="section">
          <div class="align-center">
            <h3>ENEMY</h3>
            <p class="inputNumber">
              <label for="DEF">DEF/SPR</label>
              <input id="DEF" type="number" ng-model="enemy.def" ng-change="getResults()" value="1" min="1">
            </p>
            <h4>RESISTANCES</h4>

            <p class="inputNumber" ng-repeat="s in enemyElements">
              <label for='{{"RES"+($index+1)}}'>
                <span class='{{"icon icon-active icon-"+($index+1)}}'></span>
              </label>
              <input id=RES{{$index+1}} ng-change="getResults()" class="ENEMY_ELE" type="number" ng-model=enemy.elements[$index]
                value="0">
            </p>
          </div>
        </div>
      </div>
    </form>
    <div class="bottom">
      <ul id="presets">
        <li><b>Presets {{enemyCache}}</b></li>
        <li ng-repeat="preset in listEnemyPresets">
          <span bk-img={{preset.img}} alt={{preset.name}} ng-click="setPreset(preset)" class="preset">
        </li>
      </ul>
    </div>
  </div>


</body>

</html>