<!DOCTYPE html>
<html ng-app="appModuleAngular">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Userss</title>
  <link rel="stylesheet" href="./style/style.css">
  <script src="./lib/angular.min.js"></script>
  <script src="./lib/angular-local-storage.js"></script>
  <script src="./moduleAngular.js"></script>
  <script src="./lib/angular-local-storage.js"></script>
  <script src="./controller/users.js"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li class="float-left"> <a href="index.html">FFBE DAMAGE COMPARATION</a> </li>
        <li class="float-right"> <a href="about.html">About</a> </li>
        <li class="float-right"> <a href="users.html">Users</a> </li>
      </ul>
    </nav>
  </header>

  <div ng-controller="Users" id="userList">
    <ol>
      <li class="usersControlls">
        <button ng-click="loadServer()">GET FROM SERVER</button>
        <button ng-click="saveServer()">SAVE TO SERVER</button>
        <button ng-click="loadLocal()">LOAD LOCAL</button>
        <button ng-click="saveLocal()">SAVE LOCAL</button>
      </li>
    </ol>
    <ol>
      <li ng-repeat="u in list">
        <p>{{u.id}} - {{u.first_name}} {{u.last_name}}
          <button ng-click="deleteUser($index)">Delete</button>
        </p>
      </li>
    </ol>
    <p>
      <input type="text" ng-model="newUser.first_name">
      <input type="text" ng-model="newUser.last_name">
    </p>
    <input type="button" ng-click="addUser()" value="Save">
  </div>


</body>

</html>